<div class="main-header">
  <div class="main-header__burger-menu">
    <span class="material-icons-two-tone icon-lg">menu</span>
  </div>
  <div class="main-header__block-header-center">
    <div class="block-header-center__home">
      <a href="#"><h1>OYSHO</h1></a>
    </div>
    <div class="block-header-center__searcher">
      <button aria-label="search button" class="main-header__search">
        <span class="material-icons-two-tone icon-md">search</span>
      </button>
      <input type="text" class="header__search--title" placeholder="Buscar productos">
    </div>
  </div>
  <div class="main-header__block-header-right">
    <span class="material-icons-two-tone icon-md">person_outline</span>
    <span class="material-icons-two-tone icon-md">star_border</span>
    <span class="material-icons-two-tone icon-md">work_outline</span>
  </div>
</div>
