.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 5rem;
}

.product-detail__image {
  width: 30%;
}

.product-detail__features {
  width: 30%;
}

.feature-reference--grey {
  color: grey;
}

.produc-detail__features__colors {
  display: flex;
}

.produc-detail__features__colors .produc-detail__features-list-colors {
  padding: 0;
  margin-left: 1rem;
}
.produc-detail__features__colors .produc-detail__features-color-item {
  color: grey;
  margin-right: 1rem;
}
