<div class="sub-header mt-5">
  <div class="sub-header__block-filters">
    <div class="block-filters__breadcumbs">
      <ul class="breadcumbs-path">
        <li><h3>Sport</h3></li>
        <span class="material-icons-two-tone icon-lg icon--margin">arrow_forward_ios</span>
        <li><h3>Sudaderas</h3></li>
      </ul>
    </div>
    <div class="block-filters__short-options">
      <button class="btn-oy btn-short-price"><span class="material-icons-two-tone icon-md">euro</span></button>
    </div>
  </div>
  <div class="sub-header__block-categories">
    <ul class="categories-clothes">
      <li><a href="#" class="btn-category">SUDADERAS</a></li>
      <li><a href="#" >PANTALONES</a></li>
      <li><a href="#">CAMISETAS</a></li>
      <li><a href="#">SUJETADORES</a></li>
      <li><a href="#">FALDAS</a></li>
      <li><a href="#">VESTIDOS</a></li>
    </ul>
  </div>
</div>
